.section#customize.bd-easy.section#portfolio
  .container
    %header.bd-index-header
      %h3.title.is-3= t("profile.abilities")
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      -# %h4.subtitle.is-4= t("portfolio.description")

    -# %canvas#oilCanvas.canvas-graph
    %canvas#donut{:height => "400", :width => "400"}

    -# %br
    -# %h5.subtitle.is-5 Frontend
    -# .barGraph
    -#   %ul.graph
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-info{"data-value" => "85"}
    -#         %span.graph-legend html
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-info{"data-value" => "80"}
    -#         %span.graph-legend haml
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-info{"data-value" => "70"}
    -#         %span.graph-legend Pug/Jade
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-info{"data-value" => "75"}
    -#         %span.graph-legend css, sass
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-info{"data-value" => "80"}
    -#         %span.graph-legend stylus
    -# %br
    -# %h5.subtitle.is-5 Backend
    -# .barGraph
    -#   %ul.graph
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-danger{"data-value" => "60"}
    -#         %span.graph-legend ruby on rails
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-danger{"data-value" => "20"}
    -#         %span.graph-legend python
    -# %br
    -# %h5.subtitle.is-5 Database
    -# .barGraph
    -#   %ul.graph
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-success{"data-value" => "70"}
    -#         %span.graph-legend SQL Server
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-success{"data-value" => "65"}
    -#         %span.graph-legend Postgres
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-success{"data-value" => "70"}
    -#         %span.graph-legend MySQL
    -#     %span.graph-barBack
    -#       %li.graph-bar.is-success{"data-value" => "40"}
    -#         %span.graph-legend MongoDB
