-# Analytics
= render :partial => 'shared/google_analytics'
%section.hero
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-5
          %figure.image.is-6by4
            =image_tag("myself.jpg", alt: "Luis Osnet")
        .column.is-6.is-offset-1
          %h1.title.is-2= t('hello')
          %h2.subtitle.is-4= t('job')
          %p Mi nombre es Luis, vivo en la Ciudad de México.
          %br
          %p Cuando me preguntan a que me dedico suelo contestar que soy programador, así que la siguiente pregunta que me hacen casi siempre es: “Ah, ¿osea estudiaste computación?”
          %br
          %p Y bueno tiene algo de cierto, estudié la carrera de ingeniería en sistemas computacionales en el Tecnológico de Estudio Superiores de Ecatepec.
          %br
          %p A lo largo de mi trayectoria profesional he pasado por diferentes áreas de oportunidad como por ejemplo analista en soporte técnico,  analista en infraestructura, desarrollador de bases de datos, programador frontend, programador backend.

= render :partial => 'abilities'
-# = render :partial => 'work_experience'
