-# Analytics
= render :partial => 'shared/google_analytics'
%section#customize.bd-easy.section
  .container
    %header.bd-index-header
      %h3.title.is-3= t("article.title")
      %h4.subtitle.is-4= t("article.description")

%section.hero.is-light
  .hero-body
    .columns.is-multiline
      - @articles.each do |article|
        .column.is-4
          .card.is-shady
            %figure.image.is-5by4
              %img{:src => "https://bulma.io/images/placeholders/256x256.png"}/
            .card-content
              .content
                %h4= article.title
                %p Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.
                %a{:href => article_path(article.id)} Learn more

    %nav.pagination.is-centered{"aria-label" => "pagination", :role => "navigation"}
      %a.pagination-previous Previous
      %a.pagination-next Next page
      %ul.pagination-list
        %li
          %a.pagination-link.is-current{"aria-current" => "page", "aria-label" => "Page 46"} 1
        %li
          %a.pagination-link{"aria-label" => "Goto page 2"} 2
        %li
          %a.pagination-link{"aria-label" => "Goto page 3"} 3
        %li
          %a.pagination-link{"aria-label" => "Goto page 4"} 4
        %li
          %a.pagination-link{"aria-label" => "Goto page 5"} 5
