%section.hero
  .hero-body
    .container.has-text-centered
      .columns.is-vcentered
        .column.is-5
          %figure.image.is-4by3
            %img{:alt => "Description", :src => "https://placehold.it/800x700"}/
        .column.is-6.is-offset-1
          %h1.title.is-2
            Superhero Scaffolding
          %h2.subtitle.is-4
            Let this cover page describe a product or service.
          %br/
          %p.has-text-centered
            %a.button.is-medium.is-info.is-outlined
              Learn more
