.header {
  width: 100%;
	position: relative;
	background: #FFF;
	display: block;
}

.navbar{
  height: 4.5em;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
}
.navbar-logocontainer{
  display: inline-block;
  line-height: 4.5em;
  height: 4.5em;
  margin-left: 1.5em ;
}
