@import "bulma";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Roboto');

.logo-brand {
  height: 2.5em;
}

.isotipo{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0 .2em;
  font-size: 1.5em;
}

.section{
  padding-top: 9em;
  display: block;
  text-align: center;
}

.fa-twitter {
  color: #55acee;
}
