// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_container {
  width:500px;
  line-height:100px;
  margin:5em auto;
  text-align:center;
}

.logo {
  width: 50%;
  vertical-align:middle;
}
