%footer.footer
  .container
    .content.has-text-centered
      %p
        = t('content.build')
        %span.icon
          %i.fa.fas.fa-heart.heart
        = t('content.by')
        %strong= t('name')
