%footer.footer
  .container
    .content.has-text-centered
      %p
        = t('footer.build')
        %span.icon
          %i.fa.fas.fa-heart.heart
        = t('footer.by')
        %strong= t('owner_name')
